<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class=”container”>
    <div class=”jumbotron”>
        <h1><%= title %> Me</h1>
    </div>
    <img src="/img/me.jpg" alt="Image of Myself" class="meImage" width="250px" height="300px">
    <div>
        <p>
            Hello! My name is Benjamin Ramos and I am currently enrolled at Centennial College for Software Engineering.
            <br>I am a former veterinary nurse, with over 6 years of experience under my belt. I was born and raised
            <br>in Canada. My father is Filipino and my mother is Canadian with a German lineage. Now that I have
            <br>switched over to Software Engineering, I am excited to learn more about databases and programming.
            <br>Please find a copy of my resume <a href="/Content/Resume 2023.pdf">here</a>
        </p>
    </div>
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>