<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class=”container”>
    <div class=”jumbotron”>
        <h1><%= title %> Me</h1>
    </div>
    <style>
        label{
            width: 150px;
            text-align: right;
            padding-right: 5px;
            vertical-align: top;
        }
    </style>
    <div>
        <form>
            <p>
                <label for="fname">First Name:</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name...">
            </p>
            <p>
                <label for="lname">Last Name:</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name...">
            </p>
            <p>
                <label for="phone">Phone Number:</label>
                <input type="phone" id="phone" name="phone" placeholder="Your phone number...">
            </p>
            <p>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" placeholder="Email address...">
            </p>
            <p>
                <label for="message">Message:</label>
                <textarea id="message" name="message" placeholder="Leave a message..." cols="23"></textarea>
            </p>
            <p>
                <input name="btnSubmit" type="submit" value="Submit">
            </p>
        </form>
    </div>
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>