<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class=”container”>
    <div class=”jumbotron”>
        <h1>Welcome to my <%= title %> Page</h1>
    </div>
    <div>
        <p>Hello! My name is Benjamin Ramos and welcome to my home page application.</p>
        <h2>Mission Statement</h2>
        <p>I am an aspiring software engineering student looking to make an impact on the
            <br>technological world. With a focus on databasing, I'll be looking towards assisting
            <br>companies with their needs. I can work by myself or within a team setting to help 
            <br>build, manage and inform companies on their databases. Skillset does not remain exclusivly
            <br>in databasing. I can provide a number of services surrounding C#, JavaScript, HTML, and more!
        </p>
    </div>
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>