<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class=”container”>
    <style>
        h4{
            text-align: center;
        }
    </style>
    <div class=”jumbotron”>
        <h1>Provided <%= title %></h1>
    </div>
    <br>
    <div>
        <h4>Programming</h4>
        <p>
            Thorough understanding of C#, with basic understandings of Python and Java. 
            <br>Skilled in HTML, CSS, and JavaScript.
        </p>
        <h4>Database</h4>
        <p>
            Thorough understanding of Oracle SQL Developer and learning MongoDB
            <br>Databases are my focus and thus I ma excited to learn as much as I can.
        </p>
        <h4>Web Application</h4>
        <p>
            Have built up the process of creating a book sharing website, allowing authors to reach out to readers.
            <br>Currently working on a price comparison application that will track locations of stores.
        </p>
    </div>
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>